.images {
    padding: 1rem 0 0;

    &-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0,1fr));
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0,1fr));
        }

        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, minmax(0,1fr));
        }
    }

    &-item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &-img {
        height: 15rem;
        object-fit: contain;
        width: 100%;
    }
}