html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    height: calc(100% - 53px);
    width: 100%;
}

.spinner {
    margin-left: 4px;
    opacity: .5;
}